* {
  font-family: Arial;
  color: #fff;
}

body {
  width: 842px;
}

.box {
  background-color: #373d48 !important;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
}

h1 {
  margin-bottom: 5px;
  font-family: Arial;
  color: #000;
}

h2 {
  margin-top: auto;
  margin-bottom: 5px;
}

ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

td.separete {
  vertical-align: text-top;
  width: 1%;
}

.explanation {
  font-size: 12px;
  text-align: right;
  color: #000;
}

@media print{
  .explanation {
    display: none;
  }
}
