* {
  font-family: Arial;
  color: #000;
}

body {
  align:center;
  max-width: 842px;
}

h1 {
  margin-bottom: 5px;
  font-family: Arial;
}

h2 {
  margin-top: auto;
  margin-bottom: 5px;
  font-size: 23px;
}

hr {
  border-color: #373d48;
}

ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

.icon {
  width: 20px;
}

.iconText {
  vertical-align: middle;
}

.fullWidth {
  width: 100%;
}

.separete {
  vertical-align: text-top;
  width: 1%;
}

.box {
  border-style: solid;
  border-top-style: none;
  border-color: #373d48;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
}

.explanation {
  font-size: 12px;
  text-align: right;
}

@media print{
  .explanation {
    display: none;
  }
}
