* {
  font-family: Arial;
  color: #000;
}

body {
  align-content: center;
  max-width: 842px; /* Papel A4 = 842px?*/
}

h1 {
  margin-bottom: 5px;
}

h2 {
  margin-top: auto;
  margin-bottom: 5px;
  font-size: 23px;
}

hr {
  border-color: #000;
}

ul {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -20px;
}

.barLeft,
.box {
  border-color: #000;
  border-style: solid;
  border-top-style: none;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
}

.barLeft {
  border-right-style: none;
  border-bottom-style: none;
}

.explanation {
  font-size: x-small;
  text-align: right;
}

.fullWidth {
  width: 100%;
}

.icon {
  width: 20px;
}

.iconText {
  vertical-align: bottom;
}

.separate {
  vertical-align: text-top;
  width: 25%; /*por acaso equilibra os 3 casos que tem*/
}

/* hobby and college page*/
.logo {
  text-decoration: none;
}

@media only screen and (max-width: 414px) {
  * {
    font-size: small;
  }

  h1 {
    font-size: x-large;
  }

  h2 {
    font-size: large;
  }

  iframe {
    width: 307px;
    height: 172px;
  }

  .explanation {
    font-size: x-small;
    text-align: right;
  }

  .icon {
    width: 15px;
  }
}

@media only screen and (max-width: 375px) {
  * {
    font-size: small;
  }

  h1 {
    font-size: x-large;
  }

  h2 {
    font-size: larger;
  }

  iframe {
    width: 307px;
    height: 172px;
  }

  .bigLinks {
    font-size: x-small;
  }

  .explanation {
    font-size: x-small;
    text-align: right;
  }

  .icon {
    width: 15px;
  }
}

@media only screen and (max-width: 360px) {
  * {
    font-size: x-small;
  }

  h1 {
    font-size: x-large;
  }

  h2 {
    font-size: larger;
  }

  iframe {
    width: 230px;
    height: 129px;
  }

  .explanation {
    font-size: xx-small;
    text-align: right;
  }

  .icon {
    width: 10px;
  }
}

@media print{
  .explanation {
    display: none;
  }
}
