* {
  font-family: Arial;
  color: #000;
}

body {
  align-content: center;
  max-width: 842px; /* Papel A4 = 842px?*/
}

h1 {
  margin-bottom: 5px;
}

h2 {
  margin-top: auto;
  margin-bottom: 5px;
  font-size: 23px;
}

hr {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

ul {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -20px;
}

@media only screen and (max-width: 414px) {
  * {
    font-size: small;
  }

  h1 {
    font-size: x-large;
  }

  h2 {
    font-size: large;
  }
}

@media only screen and (max-width: 375px) {
  * {
    font-size: small;
  }

  h1 {
    font-size: x-large;
  }

  h2 {
    font-size: larger;
  }
}

@media only screen and (max-width: 360px) {
  * {
    font-size: x-small;
  }

  h1 {
    font-size: x-large;
  }

  h2 {
    font-size: larger;
  }
}
