.logoLink {
  text-decoration: none;
}

.youtube {
  width: 384px;
  height: 216px;
}

@media only screen and (max-width: 414px) {
  .youtube {
    width: 307px;
    height: 172px;
  }
}

@media only screen and (max-width: 375px) {
  .youtube {
    width: 307px;
    height: 172px;
  }
}

@media only screen and (max-width: 360px) {
  .youtube {
    width: 230px;
    height: 129px;
  }
}
