/* draw the box around the div */
.box {
  border-color: #000;
  border-style: solid;
  border-top-style: none;
  border-radius: 5px;

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

  margin-top: 5px;
}

.boxRemoveLeft {
  border-left-style: none;
}

/* every element use the same space */
.elementsRespectSpace {
  display: flex;
}

/* show elements in column */
.elementsInColumn {
  display: flex;
  flex-direction: column;
}

/* element should stretch yourself */
.elementStretch {
  vertical-align: text-top;
  flex: 1;
}

.fullWidth {
  width: 100%;
}

.iconText {
  vertical-align: bottom;
}

.picture {
  width: 230px;
  height: 230px;
  border-radius: 50%;
}

.bottomExplanation {
  font-size: x-small;
  text-align: right;
}

@media only screen and (max-width: 490px) {
  .picture {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 375px) {
  .picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .bottomExplanation {
    font-size: xx-small;
  }
}

@media print{
  .bottomExplanation {
    display: none;
  }
}
